[Unit]
Description=Python IoTmaxx cloud connector launcher

[Service]
Type=simple
# Command to execute when the service is started
ExecStart=/usr/bin/python3 -m iot_launcher
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

